* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

ul {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

input {
    outline: none;
}
body{
    font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 1200px; 
  margin: 0 auto;   
  padding: 0 20px; 
}
.wrapper {

}
/* ===== Header ===== */
.profile-header{
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    position: relative;
    z-index: 10;
    padding: 20px 0;
}
.profile-header .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.profile-header__logo {
    
}
.profile-header__logo img {

}

.profile-header__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-header__top, .profile-header__stats , .date-filter  {
    display: flex;
    align-items: center;
    gap: 28px;
}

.profile-header__title {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 500;
}

.profile-header__button {
    font-size: 13px;
    padding: 6px 12px;
    font-weight: 400;
    color: #3D8EDA;
    border: 1px solid #3D8EDA;
    border-radius: 3px;
}

.profile-header__stats {

}

.profile-header__stat {
    font-size: 14px;
    font-weight: 500;
}
.profile-header__stat strong {
    font-weight: 700;     
    color: #000000;      
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.date-filter {
}

.date-filter__label {
    font-weight: 500; 
}

.date-filter__group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc; 
    border-radius: 4px;
    overflow: hidden;
    width: fit-content;
}

.date-filter__input {
    border: none;
    padding: 8px;
    outline: none;
}

.date-filter__actions {
    display: flex;
    background-color: #ededed; 
    height: 100%;
}

.date-filter__btn {
    border: none;
    background: transparent;
    width: 32px;
    height: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-filter__btn:hover {
    background-color: #e0e0e0;
}

.date-filter__clear {
    border-right: 1px solid #dcdcdc;
}
/* ===== main ===== */


.posts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 63px;
}
.posts-list.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.post-item {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 20px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08);
}
.posts-list.grid .post-item {
    flex-direction: column;
    padding: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: stretch;
}
.posts-list.grid .post-item__image {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}
.post-item__content {
    display: flex;
    gap: 50px;
    padding: 10px 5px;
}
.post-item__image {
    width: 86px;
    height: 86px;
    flex-shrink: 0;
    border-radius: 4px;
    overflow: hidden;
}
.post-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.posts-list.grid .post-item__image {
    width: 100%;
    aspect-ratio: 1 / 1;
}
.posts-list.grid .post-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.post-item__info,
.post-item__meta,
.post-item__upload {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.post-item__info {
    min-width: 120px;
}

.post-item__meta {
    min-width: 120px;
}

.post-item__upload {
    min-width: 130px;
}

.post-item__title,
.post-item__date,
.post-item__status {
    font-size: 13px;
    font-weight: 600;
}

.post-item__upload-date {
    font-size: 12px;
}
.post-item__stats {
    display: flex;
    align-items: center;
    gap: 12px;
}
.post-item__stat {
    display: flex;
    align-items: center;
    gap: 4px;

    font-size: 12px;
}
.post-item__stat img {
    width: 12px;
    height: 12px;
}
.view-toggle{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
}
.view-toggle__btn{
    width: 24px;
    height: 24px;
}
.view-toggle__icon {
    filter: grayscale(1);
    opacity: 0.6;
}
.view-toggle__btn.active .view-toggle__icon {
    filter: invert(48%) sepia(90%) saturate(1000%) hue-rotate(190deg);
    opacity: 1;
}
.posts__load-more{
    border: 1px solid #929292;
    border-radius: 14px;
    color: #929292;
    font-weight: 500;
    font-size: 11px;
    padding: 8px 20px;
    display: block;      
    margin: 30px auto 0; 
    padding: 10px 20px;
    cursor: pointer;
}
@media (max-width: 1025px) {
    .profile-header .container {
        gap: 20px;
    }
    .posts-list.grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 767px) {
    .profile-header .container {
        flex-direction: column;
    }
    .profile-header__stats{
        flex-wrap: wrap;
        justify-content: center;
    }
    .profile-header__top, .date-filter {
        flex-direction: column;
        gap: 15px;
    }
    .profile-header__content {
        align-items: center;
        text-align: center;
    }
    
    .post-item {
        align-items: flex-start;
    }

    .post-item__content {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    .post-item__image{
        width: 120px;
        height: 120px;
    }
    .posts-list.grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .posts-list.grid .post-item__image {
        height: 100px;
    }
}